*{
    background-color: white;
}

h3 span, h4 span{
    border:5px dashed rgb(20, 82, 153);
    padding:10px;
    margin:10%;
  }
  
  div{
    background-color:white;
    padding:20px;
  }
  #Schedule{
    border:1px solid grey;
    padding-left:50%;
  }
  thead{
    border:1px solid grey;
  }
  td{
    border:1px solid grey;
  }
  .selected{
    background-color:darkorange;
  }